* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: "Tapestry", cursive;
}
body .main {
  width: 80%;
  display: flex;
}

.mastermindField {
  margin-left: 38rem;
  display: block;
  width: 100%;
}
.mastermindField h1 {
  text-align: center;
  font-size: 45px;
  margin: 1rem;
}
.mastermindField i {
  cursor: pointer;
}
.mastermindField .mastermind-area {
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_container */
  margin: auto;
  display: block;
  border: 2px solid white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mastermindField .mastermind-area hr.solid {
  border-top: 3px solid black;
  width: 100%;
}
.mastermindField .mastermind-area .mastermind-color-code-result {
  margin: 2rem;
}
.mastermindField .mastermind-area .mastermind-color-code-result .color-result {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  margin-right: 2rem;
}
.mastermindField .mastermind-area .mastermind-color-code-result .color-result img {
  margin-top: 0.8rem;
  width: 50%;
}
.mastermindField .mastermind-area .mastermind-guesses {
  margin: 2rem;
}
.mastermindField .mastermind-area .mastermind-guesses .attempt1,
.mastermindField .mastermind-area .mastermind-guesses .attempt2,
.mastermindField .mastermind-area .mastermind-guesses .attempt3,
.mastermindField .mastermind-area .mastermind-guesses .attempt4,
.mastermindField .mastermind-area .mastermind-guesses .attempt5,
.mastermindField .mastermind-area .mastermind-guesses .attempt6,
.mastermindField .mastermind-area .mastermind-guesses .attempt7,
.mastermindField .mastermind-area .mastermind-guesses .attempt8,
.mastermindField .mastermind-area .mastermind-guesses .attempt9 {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  display: inline-block;
  margin-right: 2rem;
}
.mastermindField #circle-options {
  margin: auto;
  margin-left: 5rem;
  display: flex;
  margin-top: 2rem;
}
.mastermindField #circle-options .circles:nth-child(1),
.mastermindField #circle-options .circles:nth-child(2),
.mastermindField #circle-options .circles:nth-child(3),
.mastermindField #circle-options .circles:nth-child(4),
.mastermindField #circle-options .circles:nth-child(5),
.mastermindField #circle-options .circles:nth-child(6) {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  margin-right: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mastermindField #circle-options .circles:nth-child(1):hover,
.mastermindField #circle-options .circles:nth-child(2):hover,
.mastermindField #circle-options .circles:nth-child(3):hover,
.mastermindField #circle-options .circles:nth-child(4):hover,
.mastermindField #circle-options .circles:nth-child(5):hover,
.mastermindField #circle-options .circles:nth-child(6):hover {
  border: 4px solid black;
}
.mastermindField #circle-options #delete {
  background-color: white;
  border: 1px solid black;
  margin-left: 2rem;
  border-radius: 10px;
  color: black;
  width: 70px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 1rem;
  transition-duration: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.mastermindField #circle-options #delete:hover {
  background-color: black;
  color: white;
}
.mastermindField #circle-options #delete i {
  font-size: 22px;
  cursor: pointer;
}

.modal,
.have_lost,
.have_won {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content,
.have_lost .modal-content,
.have_won .modal-content {
  position: relative;
  background-color: royalblue;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modal .modal-content .modal-header,
.have_lost .modal-content .modal-header,
.have_won .modal-content .modal-header {
  margin-bottom: 2rem;
  padding: 2px 16px;
  color: white;
}
.modal .modal-content .modal-header h2,
.have_lost .modal-content .modal-header h2,
.have_won .modal-content .modal-header h2 {
  font-size: 50px;
}
.modal .modal-content .modal-header li,
.have_lost .modal-content .modal-header li,
.have_won .modal-content .modal-header li {
  font-size: 20px;
}
.modal .modal-content .modal-header .close,
.modal .modal-content .modal-header #have_lost_close,
.modal .modal-content .modal-header #have_won_close,
.have_lost .modal-content .modal-header .close,
.have_lost .modal-content .modal-header #have_lost_close,
.have_lost .modal-content .modal-header #have_won_close,
.have_won .modal-content .modal-header .close,
.have_won .modal-content .modal-header #have_lost_close,
.have_won .modal-content .modal-header #have_won_close {
  color: white;
  float: right;
  font-size: 45px;
  font-weight: bold;
}
.modal .modal-content .modal-header .close:hover, .modal .modal-content .modal-header .close:focus,
.modal .modal-content .modal-header #have_lost_close:hover,
.modal .modal-content .modal-header #have_lost_close:focus,
.modal .modal-content .modal-header #have_won_close:hover,
.modal .modal-content .modal-header #have_won_close:focus,
.have_lost .modal-content .modal-header .close:hover,
.have_lost .modal-content .modal-header .close:focus,
.have_lost .modal-content .modal-header #have_lost_close:hover,
.have_lost .modal-content .modal-header #have_lost_close:focus,
.have_lost .modal-content .modal-header #have_won_close:hover,
.have_lost .modal-content .modal-header #have_won_close:focus,
.have_won .modal-content .modal-header .close:hover,
.have_won .modal-content .modal-header .close:focus,
.have_won .modal-content .modal-header #have_lost_close:hover,
.have_won .modal-content .modal-header #have_lost_close:focus,
.have_won .modal-content .modal-header #have_won_close:hover,
.have_won .modal-content .modal-header #have_won_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal-header .replay,
.have_lost .modal-content .modal-header .replay,
.have_won .modal-content .modal-header .replay {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.modal .modal-content .modal-header .replay:hover,
.have_lost .modal-content .modal-header .replay:hover,
.have_won .modal-content .modal-header .replay:hover {
  background-color: white;
  color: black;
}

.rating {
  margin-top: 16.35rem;
  display: block;
  width: 20%;
}
.rating .rate {
  height: 52px;
  width: 52px;
  background-color: white;
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid white;
  margin-right: 2rem;
  margin-bottom: 1.45rem;
  display: flex;
  flex-wrap: wrap;
}
.rating .rate .rate-circle1,
.rating .rate .rate-circle2,
.rating .rate .rate-circle3,
.rating .rate .rate-circle4,
.rating .rate .rate-circle5,
.rating .rate .rate-circle6,
.rating .rate .rate-circle7,
.rating .rate .rate-circle8,
.rating .rate .rate-circle9 {
  margin-left: 0.1rem;
  margin-top: 0.1rem;
  height: 19px;
  width: 19px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}

@media screen and (max-width: 1288px) {
  body .main {
    width: 100%;
  }
  body .main .mastermindField {
    margin-left: 12rem;
  }
}
@media screen and (max-width: 860px) {
  body .main {
    width: 100%;
  }
  body .main .mastermindField {
    margin-left: 0rem;
    width: 35%;
  }
  body .main .mastermindField .mastermind-area {
    margin: 0;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result .color-result {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField .mastermind-area .mastermind-guesses .attempt1,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt2,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt3,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt4,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt5,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt6,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt7 {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options {
    margin-left: 1rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(1) {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options .circles:nth-child(2) {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options .circles:nth-child(3) {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options .circles:nth-child(4) {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options .circles:nth-child(5) {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options .circles:nth-child(6) {
    height: 10px;
    width: 10px;
  }
  body .main .mastermindField #circle-options #delete {
    margin-left: 2rem;
    width: 60px;
    padding: 8px 16px;
    font-size: 2px;
    margin-bottom: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  body .main .mastermindField #circle-options #delete i {
    font-size: 8px;
  }
  body .main .rating {
    width: 10%;
    margin-top: 6rem;
    margin-left: 2rem;
  }
  body .main .rating .rate {
    height: 30px;
    width: 30px;
  }
  body .main .rating .rate .rate-circle1,
body .main .rating .rate .rate-circle2,
body .main .rating .rate .rate-circle3,
body .main .rating .rate .rate-circle4,
body .main .rating .rate .rate-circle5,
body .main .rating .rate .rate-circle6,
body .main .rating .rate .rate-circle7 {
    height: 8px;
    width: 8px;
  }
}
@media screen and (max-width: 412px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  body .main {
    width: 100%;
  }
  body .main .mastermindField {
    margin-left: 0.5rem;
    width: 80%;
  }
  body .main .mastermindField .mastermind-area {
    margin: 0;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result {
    margin: 1rem;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result .color-result {
    height: 25px;
    width: 25px;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result .color-result img {
    margin-top: 0.4rem;
  }
  body .main .mastermindField .mastermind-area .mastermind-guesses .attempt1,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt2,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt3,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt4,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt5,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt6,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt7 {
    height: 25px;
    width: 25px;
  }
  body .main .mastermindField #circle-options .circles:nth-child(1) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(2) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(3) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(4) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(5) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(6) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options #delete {
    margin-left: 0.5rem;
    width: 60px;
    padding: 8px 16px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  body .main .mastermindField #circle-options #delete i {
    font-size: 15px;
  }
  body .main .rating {
    width: 10%;
    margin-top: 12rem;
    margin-left: 0.5rem;
  }
  body .main .rating .rate {
    height: 39px;
    width: 39px;
    margin-bottom: 0.45rem;
  }
  body .main .rating .rate .rate-circle1,
body .main .rating .rate .rate-circle2,
body .main .rating .rate .rate-circle3,
body .main .rating .rate .rate-circle4,
body .main .rating .rate .rate-circle5,
body .main .rating .rate .rate-circle6,
body .main .rating .rate .rate-circle7 {
    margin-left: 0.1rem;
    height: 13px;
    width: 13px;
  }
}
@media screen and (max-width: 360px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  body .main {
    width: 100%;
  }
  body .main .mastermindField {
    margin-left: 0.1rem;
    width: 69%;
  }
  body .main .mastermindField .mastermind-area {
    margin: 0;
    border-radius: 0px;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result {
    margin: 0.2rem;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result .color-result {
    height: 20px;
    width: 20px;
  }
  body .main .mastermindField .mastermind-area .mastermind-color-code-result .color-result img {
    margin-top: 0.4rem;
  }
  body .main .mastermindField .mastermind-area .mastermind-guesses {
    margin: 0rem;
  }
  body .main .mastermindField .mastermind-area .mastermind-guesses .attempt1,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt2,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt3,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt4,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt5,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt6,
body .main .mastermindField .mastermind-area .mastermind-guesses .attempt7 {
    height: 20px;
    width: 20px;
  }
  body .main .mastermindField #circle-options {
    margin-left: 0rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(1) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(2) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(3) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(4) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(5) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options .circles:nth-child(6) {
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }
  body .main .mastermindField #circle-options #delete {
    margin-left: 0.5rem;
    width: 20px;
    padding: 8px 16px;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  body .main .mastermindField #circle-options #delete i {
    font-size: 10px;
  }
  body .main .rating {
    width: 10%;
    margin-top: 8.6rem;
    margin-left: 0.5rem;
  }
  body .main .rating .rate {
    height: 33px;
    width: 33px;
    margin-bottom: 0.56rem;
  }
  body .main .rating .rate .rate-circle1,
body .main .rating .rate .rate-circle2,
body .main .rating .rate .rate-circle3,
body .main .rating .rate .rate-circle4,
body .main .rating .rate .rate-circle5,
body .main .rating .rate .rate-circle6,
body .main .rating .rate .rate-circle7 {
    margin-left: 0.1rem;
    height: 10px;
    width: 10px;
  }
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */