body {
    padding: 0;
    margin: 0;
    .main {
        width: 100%;
        display: flex;
        .playground {
            width: 75%;
            background-color: bisque;
            h1 {
                text-align: center;
            }
            .mastermind-area {
                /* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_container */
                width: 40%;
                margin: auto;
                border: 2px solid black;
                border-radius: 50px;
                text-align: center;
                hr.solid {
                    border-top: 3px solid black;
                }
                .mastermind-color-code-result {
                    margin: 2rem;
                    .circles {
                        height: 50px;
                        width: 50px;
                        background-color: white;
                        border-radius: 50%;
                        border: 2px solid black;
                        display: inline-block;
                        margin-right: 2rem;
                    }
                }
                .mastermind-guesses {
                    margin: 2rem;
                    .circles {
                        height: 50px;
                        width: 50px;
                        background-color: white;
                        border-radius: 50%;
                        border: 2px solid black;
                        display: inline-block;
                        margin-right: 2rem;
                    }
                }
            }
            .circle-options {
                margin-left: 18rem;
                display: flex;
                margin-top: 2rem;
                .circles:nth-child(1) {
                    height: 50px;
                    width: 50px;
                    background-color: pink;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                }
                .circles:nth-child(2) {
                    height: 50px;
                    width: 50px;
                    background-color: red;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                }
                .circles:nth-child(3) {
                    height: 50px;
                    width: 50px;
                    background-color: lightblue;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                }
                .circles:nth-child(4) {
                    height: 50px;
                    width: 50px;
                    background-color: blue;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                }
                .circles:nth-child(5) {
                    height: 50px;
                    width: 50px;
                    background-color: yellow;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                }
                .circles:nth-child(6) {
                    height: 50px;
                    width: 50px;
                    background-color: orange;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 0.1rem;
                }
                button {
                    background-color: white;
                    border: 1px solid black;
                    margin-left: 2rem;
                    border-radius: 10px;
                    color: black;
                    padding: 16px 32px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    margin-bottom: 1rem;
                    transition-duration: 0.4s;
                    cursor: pointer;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                    i {
                        font-size: 22px;
                    }
                }
            }
        }
        .information {
            width: 25%;
            background-color: aqua;
            h1 {
                margin: 2rem;
            }
            p {
                margin: 2rem;
            }
        }
    }
}