body {
    padding: 0;
    margin: 0;
    .main {
        width: 80%;
        display: flex;
        .mastermindField {
            margin-left: 38rem;
            display: block;
            width: 60%;
            h1 {
                text-align: center;
            }
            i {
                cursor: pointer;
            }
            .mastermind-area {
                /* https://www.w3schools.com/css/tryit.asp?filename=trycss_align_container */
                margin: auto;
                display: block;
                border: 2px solid black;
                margin-left: 1rem;
                margin-right: 1rem;
                border-radius: 50px;
                text-align: center;
                hr.solid {
                    border-top: 3px solid black;
                }
                .mastermind-color-code-result {
                    margin: 2rem;
                    .color-result {
                        height: 50px;
                        width: 50px;
                        background-color: white;
                        border-radius: 50%;
                        border: 2px solid black;
                        display: inline-block;
                        margin-right: 2rem;
                    }
                }
                .mastermind-guesses {
                    margin: 2rem;
                    .attempt1,
                    .attempt2,
                    .attempt3,
                    .attempt4,
                    .attempt5,
                    .attempt6,
                    .attempt7 {
                        height: 50px;
                        width: 50px;
                        background-color: white;
                        border-radius: 50%;
                        border: 2px solid black;
                        display: inline-block;
                        margin-right: 2rem;
                    }
                }
            }
            #circle-options {
                margin-left: 5rem;
                display: flex;
                margin-top: 2rem;
                .circles:nth-child(1) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    margin-right: 2rem;
                    cursor: pointer;
                }
                .circles:nth-child(2) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                    cursor: pointer;
                }
                .circles:nth-child(3) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                    cursor: pointer;
                }
                .circles:nth-child(4) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                    cursor: pointer;
                }
                .circles:nth-child(5) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 2rem;
                    cursor: pointer;
                }
                .circles:nth-child(6) {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid black;
                    display: inline-block;
                    margin-right: 0.1rem;
                    cursor: pointer;
                }
                .delete {
                    background-color: white;
                    border: 1px solid black;
                    margin-left: 2rem;
                    border-radius: 10px;
                    color: black;
                    padding: 16px 32px;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    margin-bottom: 1rem;
                    transition-duration: 0.4s;
                    cursor: pointer;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                    i {
                        font-size: 22px;
                        cursor: pointer;
                    }
                }
            }
        }
        .rating {
            margin-top: 16rem;
            display: block;
            width: 20%;
            .rate {
                height: 50px;
                width: 50px;
                background-color: white;
                border-radius: 20%;
                border: 2px solid black;
                margin-right: 2rem;
                margin-bottom: 1.4rem;
                display: flex;
                flex-wrap: wrap;
                .circle {
                    margin-left: 0.1rem;
                    margin-top: 0.1rem;
                    height: 18px;
                    width: 18px;
                    background-color: white;
                    border-radius: 50%;
                    border: 2px solid black;
                }
            }
        }
    }
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: royalblue;
    color: white;
}